[Desktop Entry]
Version=1.0
Name=anime
Exec=firefox-developer-edition -P "misc"
Icon=/usr/share/icons/anime-icon.jpg
Terminal=false
Type=Application
Categories=Network;WebBrowser;
